*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}


body{
background:#0f172a;
color:white;
}



nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:#111827;
}



.logo{
font-size:24px;
font-weight:bold;
color:#3b82f6;
}



.menu a{
color:white;
text-decoration:none;
margin-left:20px;
}



.hero{
text-align:center;
padding:60px 20px;
}



.hero h1{
font-size:40px;
margin-bottom:15px;
}



.hero p{
margin-bottom:20px;
color:#ccc;
}



#search{
width:90%;
max-width:400px;
padding:12px;
border-radius:10px;
border:none;
}



.products{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:30px;
}



.card{
background:#1e293b;
border-radius:15px;
overflow:hidden;
}



.card img{
width:100%;
}



.card h2{
padding:15px;
}



.card p{
padding:0 15px;
}



.card button{
margin:15px;
width:calc(100% - 30px);
padding:12px;
background:#3b82f6;
color:white;
border:none;
border-radius:10px;
}





footer{
text-align:center;
padding:30px;
color:#999;
}





/* KERANJANG MINI */


#cartBox{

display:none;

position:fixed;

top:50%;

left:50%;

transform:translate(-50%,-50%);


background:#111827;


width:230px;


padding:12px;


border-radius:15px;


box-shadow:0 10px 30px rgba(0,0,0,.5);


z-index:9999;


text-align:center;

}



#cartBox h2{

font-size:17px;

color:#3b82f6;

margin-bottom:10px;

}



#isiKeranjang{

max-height:130px;

overflow:auto;

}



#isiKeranjang p{

font-size:12px;

background:#1e293b;

padding:8px;

margin:7px 0;

border-radius:10px;

}



#total{

font-size:15px;

margin:10px 0;

color:#3b82f6;

}



#cartBox button{

padding:8px 15px;

background:#3b82f6;

color:white;

border:none;

border-radius:10px;

font-size:13px;

}





/* HP */


@media(max-width:600px){


nav{

flex-direction:column;

gap:15px;

padding:15px;

}



.menu{

display:flex;

flex-wrap:wrap;

justify-content:center;

}



.menu a{

margin:5px;

font-size:14px;

}



.hero{

padding:40px 15px;

}



.hero h1{

font-size:26px;

}



.products{

grid-template-columns:1fr;

padding:15px;

}



#cartBox{

width:230px;

}



}
